<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
        <!-- IOC-->
        <bean id="userServiceId" class="com.xuhh.spring01.a_ioc.UserServiceImpl"></bean>
        <!-- DI-->
        <bean id ="bookServiceId" class="com.xuhh.spring01.b_di.BookServiceImpl">
                <property name="bookDao" ref="bookDaoId"></property>
        </bean>
        <bean id="bookDaoId" class="com.xuhh.spring01.b_di.BookDaoImpl">
        </bean>
</beans>